

<html>
<head></head>
<body>

    <div class="text-center">

           <a href="/categories/index">Employee index</a>
        <a href="/product/index">Products index</a>
        </div>
    </body>
</html>
